.center-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 95vh;
}
.skydropx-content {
	display: inline-flex;
	padding: 60px;
	max-width: 610px;
	width: 500px;
	height: auto;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	border-radius: 5px;
	background: var(--primary-contrast-text, #fff);
	box-shadow: 0px 0.866px 12.129px 0px rgba(152, 167, 204, 0.12),
	0px 4.332px 6.931px 0px rgba(152, 167, 204, 0.14),
	0px 2.599px 4.332px -0.866px rgba(152, 167, 204, 0.2);
}
.skydropx-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px 12px;
	color: var(--primary-contrast-text, #fff);
	border-radius: 8px !important;
	border: 1px solid #321F8C;
	text-decoration: none;
	background: var(--primary-main, #5233ea);
	box-shadow: 0px 0.866px 4.332px 0px rgba(152, 167, 204, 0.12),
	0px 1.733px 1.733px 0px rgba(152, 167, 204, 0.14),
	0px 2.599px 0.866px -1.733px rgba(152, 167, 204, 0.2);
	cursor: pointer;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	appearance: none;
	-webkit-appearance: none;
	overflow: hidden;
}
.skydropx-btn:hover {
	color: var(--primary-contrast-text, #fff);
	background-color: #321F8C;
	border-color: #321F8C;
	box-shadow: none;
}
.skydropx-btn:active {
	box-shadow: none;
	color: var(--primary-contrast-text, #fff);
	background-color: #321F8C;
	border-color: #321F8C;
}
.skydropx-btn:focus {
	color: var(--primary-contrast-text, #fff);
}
.center-div .skydropx-content a.skydropx-btn { border-radius: 8px !important; }
.skydropx-description-container .skydropx-logo-container {
	width: 180px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.skydropx-image-container {
	width: 100%;
	max-width: 684.62px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 69.31px;
	padding-right: 69.31px;
	margin-top: 20.79px;
}
.skydropx-image-container > img {
	max-width: 100%;
	width: auto;
	max-height: 420px;
	height: auto;
	object-fit: contain;
}
.skydropx-description-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 546px;
}
.skydropx-description-sub-content {
	color: var(--text-secondary, #6B7280);
	text-align: center;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.2px;
	margin: 0px;
}
.skydropx-title {
	color: #111928;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.16px;
	margin: 0px !important;
}

@media (max-width: 782px) {
	.skydropx-content {
		padding: 24px;
		max-width: 100%;
	}
	.skydropx-image-container {
		padding: 16px;
		max-width: 100%;
	}
}
